:root {
  --color-green: #709c24;
}

.page-background {
  position: fixed;
  inset: 0;
  z-index: 1;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease;
  /* transform: translateY(20%); */
  opacity: 1;
}

.green-bg {
  opacity: 0;
}

.bg-changed .main-bg {
  opacity: 0;
}

.bg-changed .green-bg {
  opacity: 0.9;
}

.bg-floating {
  position: absolute;

  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  opacity: 0;
  max-width: none;
  width: 120%;
  height: 120%;
  object-fit: cover;
  pointer-events: none;
  animation: floatUpDown 2s ease-in-out infinite alternate;
}

.bg-floating.visible {
  opacity: 0.6;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.main-sphere.fade-out {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.main-sphere.disabled {
  pointer-events: none;
  opacity: 0;
}

.pulse-image,
.fly-image {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: hard-light;
}

.pulse-image {
  width: clamp(300px, 40%, 900px);
}

.fly-image {
  width: clamp(300px, 30%, 900px);
  mix-blend-mode: lighten;
}

.pulse-image.active {
  animation: pulse 2.5s ease-in-out infinite alternate;
  opacity: 1;
  top: 55%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.pulse-image.fade-out {
  animation: fadeOut 1.5s ease forwards;
}

.fly-image.active {
  animation: flyIn 2.5s ease forwards;
  opacity: 1;
  top: 20%;
  left: 66%;
}

.fly-image.fly-out {
  animation: flyOut 3s ease forwards;
}

.preloader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  perspective: 1000px;
}

.central-sphere {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 2;
}

.main-sphere {
  width: clamp(300px, 45vw, 800px);
  height: auto;
  mix-blend-mode: lighten;
  opacity: 0.7;
  position: relative;
  z-index: 10;
}

.floating-spheres {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.floating-spheres.flying {
  z-index: 999;
}

.floating-sphere-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  transform: translate(0, 0) scale(1.4);
  transition:
    transform 0.9s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.4s ease;
  opacity: 0.35;
}

.floating-sphere-wrapper.active {
  opacity: 1;
}

.floating-sphere-wrapper:hover.waiting .sphere-label {
  opacity: 1;
}

.floating-sphere {
  height: auto;
  width: clamp(66px, 10vw, 240px);
}

.sphere-inner {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sphere-label {
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  font-size: 2.25rem;
  color: var(--color-green);
  white-space: nowrap;
}

.to-column {
  z-index: 2;
}

.action-button {
  color: var(--color-green);
  text-decoration: underline;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25rem;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  z-index: 5;
}

.action-button.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.person-image {
  position: absolute;
  width: clamp(200px, 41%, 900px);
  min-height: 100px;
  max-height: 1200px;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  mix-blend-mode: hard-light;
}

.person-image.active {
  opacity: 0.6;
  animation: spin-z 6s ease-in-out infinite;
}

.person-green {
  width: clamp(300px, 70%, 1500px);
}

.person-blue {
  width: clamp(300px, 45%, 1500px);
}

.person-red {
  width: clamp(300px, 33%, 1500px);
}

.person-air {
  width: clamp(300px, 25%, 1500px);
}

.bg-reveal {
  position: fixed;
  inset: -5px;
  object-fit: cover;
  z-index: 5;
  height: 110vh;
  width: 110vw;

  transform: translateY(30vh);
  opacity: 0;
  transition:
    transform 1.2s ease,
    opacity 1.2s ease;
}

.bg-reveal.active {
  transform: translateY(-5vh);
  opacity: 1;
}

.bg-overlay {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30vh);
  opacity: 0;
  width: clamp(300px, 100%, 3000px);
  object-fit: cover;
  z-index: 6;
  transition:
    transform 1s ease,
    opacity 1s ease;
}

.bg-overlay.active {
  transform: translate(-50%, -10vh);
  opacity: 1;
}

.bg-overlay2 {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 30vh);
  opacity: 0;

  z-index: 7;
  transition:
    transform 1s ease,
    opacity 1s ease;
}

.bg-overlay2.active {
  transform: translate(-50%, 0);
  opacity: 1;
}

.restart-button {
  pointer-events: none;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%, 10vh);
  opacity: 0;
  color: white;
  text-decoration: underline;
  font-size: 2.25rem;

  z-index: 10;
  transition:
    transform 0.8s ease,
    opacity 0.8s ease;
}

.restart-button.active {
  pointer-events: all;
  transform: translate(-50%, 0);
  opacity: 1;
}

.flash-overlay {
  position: fixed;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
}
